body
{

}
.Document{
    background-color: bisque;
    border: 2px solid black;
    position:absolute;
    margin-top: 50px;
}
.Myself{
    background-color: blueviolet;
    border: 5px solid rgb(34, 143, 164);
    position:absolute;
}
