.container
{
    margin-top: 20px;
    box-shadow: 0px 4px 8px pink;
    border-radius: 8px;
    padding: 8px 10px;
    width: 18vw;
    margin-left: 40%;
}
.btn
{
    background-color: lavender;
    border-radius: 5px;
    color: rgb(244, 10, 244);
    border: 2px solid rgb(163, 10, 130);
}